.sidebar__container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: var(--bg-dark);
  transform: translateX(-100%);
  transition-property: transform;
  transition-duration: 0.5s;
}

.hamburger__icon,
.close__icon {
  height: 30px;
  width: 30px;
}

.close__icon {
  margin: 1em 0 0 1em;
}

.active {
  right: 0;
  width: 100%;
  opacity: 1;
  transform: translateX(0);
}

.body__inner__container {
  height: 100%;
}

.content__container {
  padding: 1em 0.5em;
  background-color: var(--bg-light);
  height: 100%;
}

@media screen and (min-width: 850px) {
  .body__inner__container {
    display: flex;
  }

  .sidebar__container {
    position: relative;
    flex: 1;
    height: 100%;
    transform: translateX(0);
    border-right: 1px solid var(--bg-darker);
  }

  .content__container {
    flex: 4;
    height: 100%;
    background-color: var(--bg-light);
  }

  .hamburger__icon,
  .close__icon {
    display: none;
  }
}
