@import "/src/partials/breakpoints";

.sidebar__title {
  font-weight: 800;
  color: var(--accent-dark);

  &__avatar {
    background-color: var(--accent-dark);
    color: var(--accent-light);
    padding: 0.15em 0.35em;
    border-radius: 7px;
    margin-right: 0.5em;
    font-weight: 800;
  }

  &__container {
    display: flex;
    align-items: center;
    margin-bottom: 2em;
    margin-top: 1em;

    @include drawer_breakpoint() {
      margin-top: 0;
    }
  }
}
